/Exercicio_06.class
/Exercicio_14.class
/Exercicio_15.class
/Exercicio_16.class
/Exercicio_17.class
/Exercicio_18.class
/Exercicio_24.class
/Exercicio_25.class
/Exercicio_26.class
/Exercicio_27.class
/Exercicio_28.class
/Exercicio_29.class
/Exercicio_30.class
/Exercicio_31.class
/Exercicio_32.class
/Exercicio_33.class
/Exercicio_34.class
/Exercicio_35.class
